<div id="page-wrapper" [ngClass]="{open: toggle}">

  <app-user-sidebar [(menu)]="menu"></app-user-sidebar>

  <div class="row page-header">
    <div class="col-9">

      <button type="button" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
      </button>

    </div>

    <div class="col-3">
      Bem vindo, Filipe Franco Comastri
    </div>

  </div>

  <div>
    <p-breadcrumb [model]="posicao_usuario" [style]="{'background':'none', 'border':'none','margin-left':'20px','font-size': '12px'}"></p-breadcrumb>
  </div>

  <div id="content-wrapper">
    <div class="page-content" style="margin-top:10px;padding:20px;">

      aqui fica o router outlet

    </div>
  </div>

</div>
